html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 100% Georgia, serif;
  background: #535353 url(../images/pattern...jpg) repeat ;
  color: #FFF;}

p
{ padding: 0 0 15px 0;
  line-height: 1.7em;
  font-size: 110% }

img
{ border: 0;

}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Georgia, serif;
  color: #FFF;
  text-shadow: 1px 1px #000;
  letter-spacing: 0px;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;}

h2
{ font: normal 165% Georgia, serif;}

h3
{ font: normal 100% Georgia, serif;
}

h3 a, h3 a:hover
{ color: #ffffff;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 150% Georgia, serif;
  color: #098EFF;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Georgia, serif;
  color: #888;
  padding-bottom: 15px;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: none;
  color: #098EFF;
}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ width: 1000px;
  height: 55px;
  padding: 0 0 0 0;
  background: transparent;}
#rrr
{margin-top: 5px ;
margin-bottom: -80px ;
margin-left: 150px;
center: auto;
    padding: 5px 0 0 0;
}
#welcome
{ width: 285px;
  float: left;
  height: 0px;
  padding: 0px 0px 20px 80px;
  margin: 0 auto;
  background: transparent;} 
  
#welcome H1
{ font: normal 200% times, Helvetica, sans-serif;
  color: #FFF;}
  
span
{ color: #098EFF;}

 
#menubar
{ width: float;
float : left;

  height: 35px;
  text-align: center; 
  margin:  0 auto;
  padding-bottom: 20px;
  float: center-left ;
  margin-left: 500px;
  background: transparent;} 

ul#menu 
{ 
  margin: 0;
  float: right;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ font: normal 120% Georgia, serif;
  float: left;
  letter-spacing: -1px;
  height: 30px;
  padding: 15px 25px 10px 25px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 

ul#menu li a:hover
{ color: #FFF;
  text-decoration: underline;}
  
ul#menu li.current a
{ color: #098EFF;
  text-decoration: underline;}

#site_content
{ width: 1000px;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background: #1D1D1D;
  -webkit-box-shadow: inset 5px 5px 30px 5px #535353;
  -moz-box-shadow: inset 5px 5px 30px 5px #535353;
  box-shadow: inset 5px 5px 30px 5px #535353;   /* el 4adow bta3 el slider*/
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;} 
  
#image_container  
{ width: 1000px;}

#text_content
{ float: right;
  width: 435px;
  padding: 0; 
  margin: 0 20px 0 20px;}
  
.static_image
{ float: left;
  width: 500px;
  height: 450px;
  margin: 0 0 20px 20px;}  
  
#footer
{ font: normal 120% Georgia, serif;
  width: 1070px;
  letter-spacing: -1px;
  padding: 0 0 26px 0;
  text-align: center; 
  background: transparent;
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ text-decoration: underline;}

.footer_container_box
{ font: normal 80% Arial, Helvetica, sans-serif;
  width: 325px;
  padding: 5px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}

.footer_container_boxl
{ font: normal 80% Arial, Helvetica, sans-serif;
  width: 325px;
  padding: 5px;
  text-align: center;
  margin: 10px 0 10px 10px;
  float: left;
  background: transparent;
  color: #FFF;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 280px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 206px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;} 